<% user = current_user if user.nil? %>
<table class="table">
 <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

  <tr>
   <th>name</th>
   <th><%= user.name %></th>
  </tr>

  <tr>
   <th>introduction</th>
   <th><%= user.introduction %></th>
  </tr>

   <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
   </tr>

   <tr>
	   <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
		 </tr>
	<tr>
	<tr>
	 	 <th colspan="2">
	   <% if current_user == user %>
	     <%= link_to edit_user_path(user),class:"btn btn-secondary" do %>
		 	   <i class="fas fa-user-cog"></i>
		 	 <% end %> 
		 	<% else %>
		 	  	<%= render 'relationships/follow_button', user: user %>
		 	<% end %>
		  </th>> 

		 	 

	 </tr>
</table>

 	
